@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
  /* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(249, 251, 252);
  animation: colorChange 160s infinite;
  transition: 2s;
  /* background-image: url("../images/sprite.jpeg"); */
}


@keyframes colorChange {
  0% {
    background-color: #EAF6F6;
  }
  50% {
    background-color: #EAF6F6;;
  }
  /* 50.1% {
    background-color:  rgb(249, 251, 252);
  }
  100% {
    background-color:  rgb(249, 251, 252);
  } */
}



a {
  color: inherit;
  text-decoration: none;
}

p, h1, h2, button, span {
  font-family: sans-serif;
}

p {
  font-weight: 300;
  line-height: 1.7;

}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  
}


.time-tag,  .time-icon, .add-you-text  {
  position: absolute;
  opacity: .2;
  right: 89px;
  top: 30px;
}

.time-icon {
  right: 159px;
  font-size: 18px !important;
}
.add-you-text {
  right: 189px;
  opacity: 1;
  background: black;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  background: black;
  color: white;
cursor: pointer;
bottom: 0;
}
.image-bg {
  font-size: 900px !important;
  position: absolute;
  opacity: .02;
  right: -120px;
  bottom: 12px;
  z-index: -1;
}

.welcome-cover {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  min-height: 70vh;
  padding: 20px 0;
}

.welcome-header {
  font-size: 59px;
  text-align: left;
}

.welcome-header span {
  font-size: 60px;
  animation: jello; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 4s;
}
.welcome-header ~ p {
  margin: 20px 0;
text-align: left;
line-height: 20px;
letter-spacing: .5px;
}

.create-btn, .update-text {
  height: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 10px;
  background: black;
  color: white;
width: 100%;
border: none;
display: flex;
position: relative;
align-items: center;
justify-content: center;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.button-text {
  transition: 1s;
}
.create-btn:hover .button-text {
  opacity: 0;
}
.create-btn:hover .symbol-icon {
  transform: translateX(-200px);
}
.create-btn .symbol-icon{
  position: absolute;
  right: 20px;
  transition: transform 0.3s ease;
}

.cursor-pointer {
  cursor: pointer;
}

.create-you-text-area {
margin: 20px 0;
}
.text-area-div textarea, input {
padding: 10px;
width: 100%;
border: none;
margin: 20px 0;
outline: none;
box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
border-radius: 5px;
}


.tooltip {
  position: relative;
  display: flex;
}

.tooltip .material-symbols-sharp {
  font-size: 20px;
}

.tooltip .tooltiptext, .translate-youText {

  width: 120px;
  background-color: #eef9fd;
  color: #193c47;
  text-align: left;
  font-size: 15px;
  line-height: 25px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 #0000001a;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
  width: 400px;
  transition: 1s;
}
.tooltip .tooltiptext {
  visibility: hidden;
  z-index: 2;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.text-area-div {
  position: relative;
}

.translate-youText {
  height: 350px;
  top: 20px;
  overflow: scroll;
}


.emoji-cover {
  position: absolute;
  left: 140px;
  bottom: 217px;
}


.translate-cover {
  position: relative;
  bottom: 300px;
  max-width: 500px;
}

.text-area-div span {
  position: absolute;
  right: 3px;
  top: 32px;
}

.saved-texts {
  height: 150px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 #0000001a;
  cursor: pointer;
  width: 250px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  border: 1px solid #f0f2f3;;
  border-radius: 16px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all .4s ease-in;
  transform: scale(1);  
  z-index: 2;
  margin: 0 auto;
text-overflow: ellipsis;
font-size: 12px;
}

.saved-texts:hover {

box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all .4s ease-in;
    transform: scale(0.95);
}

.preview-cover {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 120px;
  margin: 0 60px;
  overflow: auto;
}

.texts-cover {
  max-width: 700px;
  height: 100vh;
  overflow: auto;
  margin: 0 auto;
  width: 100%;
}


.text-details {
  margin-top: 100px;
}

.dynamic-content {
  flex-basis: 30%;
  margin-top: 100px;
}

.dynamic-content input {

margin: 5px 0 20px 0;
}

.text-time {
  position: absolute;
  left: 12px;
  font-size: 12px;
  opacity: .7;
  background: white;
  bottom: 8px;
  padding: 2px;
  box-shadow: 0 1px 2px 0 #0000001a;
  width: 130px;
  text-align: center;
}

.active-text {
  background-color: #20495e;
  color: white;
    transform: scale(1.1);

transition: all .4s ease-in;
transform: scale(1.1);
top: 7px;
word-wrap: break-word;
}


.stroke-line, .stroke-line-lead {
  height: 50px;
  border: 1px solid black;
  width: 2px;
  margin: 0 auto;
  opacity: .1;
}

.stroke-line-lead { 
height: 100px;
}

.saved-texts img {

  position: absolute;
  right: 0;
bottom: 0;
}

.relative-pos {
  position: relative;
}

.action-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  max-width: 180px;
}

.action-div .action{
display: flex;
align-items: center;
cursor: pointer;
}

.ml-20 {
  margin-left: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}

.time-block {
  opacity: .5;
  font-size: 13px;
  margin-top: 20px;
}

.scroll-element {
  height: 37px;
  border: 1px solid black;
  width: 2px;
  margin: 0 auto;
  opacity: .1;
}

.notification-center {
  position: relative;
}
.noty-box {
  background-color: red;
  box-shadow: 0 1px 2px 0 #0000001a;
  min-height: 200px;
  bottom: 123px;
}